.touchSelect{
	width: 200px;
	margin-top: 10px;
	position: relative;
}

.touchSelect table{
	width: 150px;
	border: 1px solid grey;
	padding: 0;
	border-collapse: collapse;
}

.touchSelect table{
	cursor: pointer;	
}

.touchSelect table td{
	margin: 0;
	padding: 0;
}

.touchSelect .collapseTab{
	display: none;
}

.touchSelect .tab{
	display: none;
	background-color: #aaaaff;
	padding: 10px;
	border-radius: 0 0 30px 0;
}

.touchSelect .tab:hover{
	cursor: pointer;
}

.touchSelect option:hover{
	cursor: pointer;
}

.touchSelect .selected{
	background-color: #aaaaff;
}

.touchSelect .collapseTab{
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 3px 3px 0;
}

.touchSelect .collapseTab:hover{
	cursor: pointer;
}